html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
   /* font: inherit; */
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	
	background: #ec9c10; 
	font-size: 16px
	font: Geneva;
}

#menu-top-nav {
	
	color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 10px;
	
}

#menu-top-nav li {
    float: left;
    position: relative;
    display:block; /* odpowiada za usunięcie kropek przy wypunktowaniu*/
}

#menu-top-nav ul {
    list-style: none outside none;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-bottom: 20px;
	
	
}

.semantic-list {
    list-style-type: none;
    display:block;
   
    height; 40px;
    background: #ffbb44;
    width:1200px;
    font-size:0.8em;
    color:#F0F0F0;
    text-align:center;
    text-decoration:none;
    float:right;
   
 
}

li{
	padding-bottom: 10px;
	border-bottom: 20px;
	/* float:left;  float odpowiada za ustawienie tekstu, czy ma być lista jedno pod drugim, czy obok siebie do lewej albo do prawej itp */
	height:20px;
	line-height: 20px;
	width: 120px;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;   
	text-align:center;
	margin:5px;
}

ul li{
	float:left;
	display:block;
	position:static;
	margin:20px 5px 20px 5px;
	
}

.Container {
	width: 1200px;
	height: 2000px;
	margin:5px auto 0;
	border: 1px solid #000;
} 

	