html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
   /* font: inherit; */
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
<<<<<<< Updated upstream
    display: block;
=======
   display:block;
>>>>>>> Stashed changes
}

body {
	
	background: #ec9c10; 
	font-size: 16px
	font: Geneva;
}

p{
	
	margin:150px 30px 20px 30px;
	justify:center;


<<<<<<< Updated upstream

}

header hgroup h1 h2{
	
		
	text-bottom: vertical;
}
=======

>>>>>>> Stashed changes

header hgroup h1 {
    background: url("liderlogo.png") no-repeat scroll 0 0 transparent;
    
    height: 205px;
    text-indent: -9999em;
    margin:20px;
    
<<<<<<< Updated upstream
=======
    background: url("liderlogo.png") top left no-repeat transparent;
	width: 350px;
    height: 210px;
    text-indent: 100%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    inline-block:0px;
    
 
>>>>>>> Stashed changes
}

header hgroup h2 {
	
<<<<<<< Updated upstream
=======

	font-size: 40px;
	color: #231f20; 
	letter-spacing: 1px; /* przerwy między literami*/

    height: 410px;
    float: left;
	
    top: inherit;
	margin-top: 50px;
	margin-bottom: 200px;
	white-space: nowrap;
	overflow: hidden;
	position:absolute; top:60px bottom:275px; left:310px; height:100px;
	/*position: absolute; top:125px; left:310px; /* pozycja absolute umożliwia sterowaniem danym obiektem wewnątrz innego. pozycja static sprawia, ze dany obiekt pozostaje w miejscu jakie ma przypisane z natury z kodzie*/
}
>>>>>>> Stashed changes

	text-align:left;
	
<<<<<<< Updated upstream
	margin: 0 360px 40px 360px;
	font-size: 40px;
	top:-25px;
=======
	padding-top: 20px;
	
>>>>>>> Stashed changes
}


#menu-top-nav {
	
	color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 10px;
	
}

#menu-top-nav li {
    float: left;
    position: relative;
    display:block; /* odpowiada za usunięcie kropek przy wypunktowaniu*/
	  background-position: 0 21px;
}

#menu-top-nav ul {
    list-style: none outside none;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-bottom: 20px;
	
	
}

.semantic-list {
    list-style-type: none;
    display:block;
   
    height; 50px;
    weight: 60px;
    background: #ffbb44;
    width:1000px;
    font-size:0.8em;
    color:#F0F0F0;
    text-align:center;
    text-decoration:none;
    float:right;
  	border-radius: 5px 5px 0 0;
 
}

li{
	padding-bottom: 10px;
	border-bottom: 20px;
	/* float:left;  float odpowiada za ustawienie tekstu, czy ma być lista jedno pod drugim, czy obok siebie do lewej albo do prawej itp */
	height:7px;
	line-height: 20px;
	width: 100px;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;   
	text-align:center;
	margin:5px;
}


ul li{
<<<<<<< Updated upstream
	float:left;
	display:block;
	position:static;
	margin:20px 0 20px 5px;
=======
	
	float: left;
	display: block;
	
	margin: 20px 0 20px 5px;
>>>>>>> Stashed changes
	
}

ul li a {
	
	display:block;
	height:30px;
	line-height:30px;
	
	width:110px;
	font-size:0.9em;
	font-weight:bold;
	color:#000000;
	text-align:center;
	text-decoration:none;
	margin:7px 0 0 40px;
	border-radius:20px 20px 0  0;
	-moz-border-radius: 10px 0 0 0;
	
	/*Gradients*/
background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top, #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* IE10+ */
background: linear-gradient(to bottom, #627d4d 0%,#1f3b08 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */


}

ul li a:hover {
	background: #081903; /* Old browsers */
background: -moz-linear-gradient(top, #081903 2%, #1e4209 100%, #48603c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#081903), color-stop(100%,#1e4209), color-stop(100%,#48603c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #081903 2%,#1e4209 100%,#48603c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #081903 2%,#1e4209 100%,#48603c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #081903 2%,#1e4209 100%,#48603c 100%); /* IE10+ */
background: linear-gradient(to bottom, #081903 2%,#1e4209 100%,#48603c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081903', endColorstr='#48603c',GradientType=0 ); /* IE6-9 */
	
}

<<<<<<< Updated upstream

.Container {
	width: 1000px;
	height: 1800px;
	margin:10px auto 0;
	border-radius:5px 5px 0 0;
	background: url("aaa.png") no-repeat scroll  ;
} 

#article{
	
	width:1000px;
	height: 1800px;
	margin:20px auto 0;
=======
.semantic-list {
    
    list-style-type: none;
    weight:100px;
   	height: 57px;
   	background: #ffbb44;
   	font-size: 0.8em;
 	text-align: center;
    text-decoration: none;
    margin:auto border:300px;

	border-radius: 25px 25px 0 0;
	-moz-border-radius:  25px 25px 0 0;
	
}



	

#article{
	
	height: 750px;
	width: 700px;
	background: #ec9c10;
	opacity: 0.7;
	font:Arial, Helvetica, sans-serif;
	margin: auto;
	


	
	

	
} 

#article-nav{
	height: 1000px;
	weight: 600px;
	font:"Arial Black";
	text-align:center;
	color: #F0F0F0;
	font-size:16px;
	text-shadow: 2px;

	float:center;

	bottom:20px;
	margin:0 200px  ;
	background:#EC9C10 ;
			
	opacity:0.7;
>>>>>>> Stashed changes
	
	
}
