0html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
   /* font: inherit; */
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}

body{
	
 
    width: 1903px;
    height: 1000px;

}

div.menu1 {
	

	float:right;

    height: 106px;
    margin-bottom: 26px;

    margin-right: auto;
    margin-top: 0;
    padding-right: 250px;
    text-align: center;
  	width: 354px;
	
}

div.menu2 {
	
 	margin-bottom: 27px;
    margin-left: 352px;
    margin-right: 421px;
    margin-top: 0px;
    text-align: center;

}

h1{
	
	 background-image: url("panorama.png");
     background-repeat: repeat;
     width:1900px;
     height:300px;
	
}

h1 img{
	
	text-align:center;
	position:left;
	padding-left:400px;

	
	}
	



h1.wyjatek {
	
	text-align:center;
		
	
}

h2 {
	
	text-align:center;
	
}


ul{
	
 	list-style-type: none; /* niweluje kropki przy liście*/

}

a.first{
	
	background-color:#081903 ;
	color: #FFFFFF;
}

ul li a{
	
	float: left;
	display: block;
	height: 40px;
	line-height:40px; /*to pozwala na uzyskanie tekstu na środku obiektu, musi mieć taką samą wartość jak wysokość*/
	width: 110px;
	font-weight:bold;
	color:#000000;
	font-size: 1.0em;

	text-decoration: none;
	background-color: #598527;
	margin:1px;
	
	border-radius:5px 15px 0 0 ;
	border: 1px solid #081903;
}





 ul li a:hover {
	
	background-color:#1E4209;
	
	
	
}



.subject {
	
	text-align: left;
	background: #FFFFFF;
	width: 900px;
	height: 2080px;
	padding-top: 10px;
	margin-left: 393px;


}

.subject-statut{
	
	text-align: left;
	background: #48603C;
	width: 1200px;
	height: 4000px; 
	padding-top: 10px;
	margin-left: 393px;
	border-left-width: 0px; 
	padding-left: 0px;  

}

p.margin{
	 
	 padding-left: 40px;
	
}


#zakladka {
	
background-color: #081903;
padding-top: 0px; 
margin-top: 70px; 
height: 10px; 
width: 900px; 
padding-left: 0px; 
border-left-width: 0px; 
margin-left: 393px;
	
}

table{
	
float:inherit
	
	
}
